<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="project-details">
                    <h2><%= project.title %></h2>
                    <p><%= project.description %></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="label-card">
                            <h5>Filter By</h5>
                            <div class="label-item">
                                <input type="checkbox"> Filter 1
                            </div>
                            <div class="label-item">
                                <input type="checkbox"> Filter 1
                            </div>
                            <div class="label-item">
                                <input type="checkbox"> Filter 1
                            </div>
                            <div class="label-item">
                                <input type="checkbox"> Filter 1
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="issue-option-bar">
                                    <div class="search-box">
                                        <input type="text" class="form-custom" placeholder="Search Issue...">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </div>
                                    <span>Totol Issues(9)</span>
                                    <a href="/bug/add/<%= project.id %>" class="btn btn-primary">Add an Issue</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="issue-container">
                                    <div class="issue-container-title">4 Todo</div>
                                    <div class="issue-card">
                                        <p class="issue-title">Lorem ipsum dolor sit amet.</p>
                                        <span>Raised 3 days ago</span>
                                        <div class="issue-footer">
                                            <div class="status-open">Open</div>
                                            <div class="author">Author</div>
                                        </div>
                                    </div>
                                    <div class="issue-card">
                                        <p class="issue-title">Lorem ipsum dolor sit amet.</p>
                                        <span>Raised 3 days ago</span>
                                        <div class="issue-footer">
                                            <div class="status-open">Open</div>
                                            <div class="author">Author</div>
                                        </div>
                                    </div>
                                    <div class="issue-card">
                                        <p class="issue-title">Lorem ipsum dolor sit amet.</p>
                                        <span>Raised 3 days ago</span>
                                        <div class="issue-footer">
                                            <div class="status-open">Open</div>
                                            <div class="author">Author</div>
                                        </div>
                                    </div>
                                    <div class="issue-card">
                                        <p class="issue-title">Lorem ipsum dolor sit amet.</p>
                                        <span>Raised 3 days ago</span>
                                        <div class="issue-footer">
                                            <div class="status-open">Open</div>
                                            <div class="author">Author</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="issue-container">
                                    <div class="issue-container-title">4 Done</div>
                                    <div class="issue-card">
                                        <p class="issue-title">Lorem ipsum dolor sit amet.</p>
                                        <span>Raised 3 days ago</span>
                                        <div class="issue-footer">
                                            <div class="status-closed">Closed</div>
                                            <div class="author">Author</div>
                                        </div>
                                    </div>
                                    <div class="issue-card">
                                        <p class="issue-title">Lorem ipsum dolor sit amet.</p>
                                        <span>Raised 3 days ago</span>
                                        <div class="issue-footer">
                                            <div class="status-closed">Closed</div>
                                            <div class="author">Author</div>
                                        </div>
                                    </div>
                                    <div class="issue-card">
                                        <p class="issue-title">Lorem ipsum dolor sit amet.</p>
                                        <span>Raised 3 days ago</span>
                                        <div class="issue-footer">
                                            <div class="status-closed">Closed</div>
                                            <div class="author">Author</div>
                                        </div>
                                    </div>
                                    <div class="issue-card">
                                        <p class="issue-title">Lorem ipsum dolor sit amet.</p>
                                        <span>Raised 3 days ago</span>
                                        <div class="issue-footer">
                                            <div class="status-closed">Closed</div>
                                            <div class="author">Author</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</main>